In [1]:
import pandas as pd

In [2]:
data_trimmed = pd.read_csv("Food_Availability/trimmed_data/df_fluid_milk_trimmed.csv")
data_cleaned = pd.read_csv("Food_Availability/cleaned_data/df_fluid_milk.csv")

In [41]:
def prepare_data_report(data):
    data_types = pd.DataFrame(
        data.dtypes,
        columns=['Data Type']
    )

    missing_data = pd.DataFrame(
        data.isnull().sum(),
        columns=['Missing Values']
    )

    unique_values = pd.DataFrame(
        columns=['Unique Values']
    )
    for row in list(data.columns.values):
        unique_values.loc[row] = [data[row].nunique()]

    maximum_values = pd.DataFrame(
        columns=['Maximum Value']
    )
    for row in list(data.columns.values):
        maximum_values.loc[row] = [data[row].max()]
    dq_report = data_types.join(missing_data).join(unique_values).join(maximum_values)
    dq_report["Col_Name"] = dq_report.index
    dq_report.reset_index(drop = True, inplace=True)
    dq_report_cols = list(dq_report.columns)
    new_cols = [dq_report_cols[-1]] + dq_report_cols[0:-1]
    dq_report = dq_report[new_cols]
    return dq_report

In [63]:
dq_report_trimmed = prepare_data_report(data_trimmed)
dq_report_cleaned = prepare_data_report(data_cleaned)

In [65]:
dq_report_trimmed.to_csv("Food_Availability/dq_report_trimmed.csv")
dq_report_cleaned.to_csv("Food_Availability/dq_report_cleaned.csv")

In [31]:
import plotly.graph_objects as go

In [ ]:
fig = go.Figure()
fig.add_trace()

In [43]:
dq_report_trimmed

,Col_Name,Data Type,Missing Values,Unique Values,Maximum Value
0,Unnamed: 0,int64,0,113,118.0
1,Year,int64,0,113,2021.0
2,US Population,float64,0,113,331.893745
3,Plain Whole Milk - Consumed,int64,0,109,11659.0
4,Plain Whole Mild - Sales,float64,0,113,44672.0
5,Plain Whole Milk - Total,float64,0,113,48051.0
6,Flavored Whole Milk,float64,0,109,1549.0
7,Total Plain and Flavored,float64,0,113,49000.0
8,2 Percent Plain,float64,41,72,19851.0
9,1 Percent Plain,float64,58,55,7755.5
10,Total Low Fat,float64,41,72,26611.6
11,Low Fat Flavored,float64,0,109,3980.8
12,Total Low Fat.1,float64,0,110,30578.6
13,Buttermilk,float64,0,110,1237.0
14,Skim Milk,float64,0,106,9203.0
15,Butter and Skim Consumed,float64,56,55,5299.0
16,Total low fat and skim,float64,0,112,39418.1
17,Other Eggnog,object,0,54,95
18,Misc,float64,91,22,1179.9
19,Total other,float64,45,56,1320.7
20,Total beverage milk Sales,float64,0,113,55432.9
21,Total Beverage Fluid Milk Available,float64,0,113,56000.0

In [61]:
vals = dq_report_trimmed[dq_report_trimmed["Col_Name"] == "Year"].values.flatten()

keys = dq_report_trimmed[dq_report_trimmed["Col_Name"] == "Year"].keys()

d = dict(zip(keys, vals))

In [62]:
d

{'Col_Name': 'Year',
 'Data Type': dtype('int64'),
 'Missing Values': 0,
 'Unique Values': 113,
 'Maximum Value': 2021.0}

In [24]:

dq_report_cleaned

,Data Type,Missing Values,Unique Values,Maximum Value
Unnamed: 0,int64,0,113,112.000000
Unnamed:,int64,0,113,118.000000
Year,int64,0,113,2021.000000
US Population,float64,0,113,331.893745
Plain Whole Milk - Consumed,int64,0,109,11659.000000
Plain Whole Mild - Sales,float64,0,113,44672.000000
Plain Whole Milk - Total,float64,0,113,48051.000000
Flavored Whole Milk,float64,0,109,1549.000000
Total Plain and Flavored,float64,0,113,49000.000000
Percent Plain,float64,0,73,19851.000000
Percent Plain.1,float64,0,56,7755.500000
Total Low Fat,float64,0,73,26611.600000
Low Fat Flavored,float64,0,109,3980.800000
Total Low Fat.,float64,0,110,30578.600000
Buttermilk,float64,0,110,1237.000000
Skim Milk,float64,0,106,9203.000000
Butter and Skim Consumed,float64,0,56,5299.000000
Total low fat and skim,float64,0,112,39418.100000
Other Eggnog,float64,0,54,153.400000
Misc,float64,0,23,1179.900000
Total other,float64,0,57,1320.700000
Total beverage milk Sales,float64,0,113,55432.900000
Total Beverage Fluid Milk Available,float64,0,113,56000.000000